<!-- Include header -->
<%- include('include/_header') %>
<!-- Include header -->

<!-- Main Site -->
<main id="site-main" class="update-user-main">
  <div class="update-user-container">
  <!-- Navbar -->
  <header id="header">
    
      <nav>
        <a class="logo-text">Birdly</a>
        <h5><%= locals.user ? "Welcome back " + user.name : "" %></h5>
        <div class="icons-container">
          <a href="/logout">
            <i class="fa-solid fa-right-from-bracket"></i>
          </a>
        </div>    
      </nav>
    </header>
    <!-- Navbar -->
  
    <!-- user form layout container -->
    <div class="form-container glass">

      <!-- update user form -->
      <form id="update_user" method="POST" action="/api/users/">
        <% if (locals.alert) { %>
        <div class="alert text-center"><%= alert %></div>
        <% } %>

        <input type="hidden" name="id" value="<%= user._id %>">
      
        <label for="name">Username</label>
        <input type="text" id="name" name="name" value="<%= user.name %>" />
        <div class="division"></div>
      
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="<%= user.email %>" />
        <div class="division"></div>
      
        <input type="submit" value="Update info" />
      </form>
      <!-- update user form -->

      <div class="side-section">
        <h1 class="section-header">
          "Hold fast to dreams, for if dreams die, life is a broken-winged bird that cannot fly." 
        </h1>
        <p> — Langston Hughes </p>
    </div>
    <!-- user form layout container -->
    </div>
</main>
<!-- Main Site -->

<!-- Include footer -->
<%- include('include/_footer') %>
<!-- Include footer -->